/*  your css code here. If applicable */
*{
    padding: 0;
    margin: 0;

}
th{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px;
}
td{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.odd{
    background-color: #f2f2f2;
}
.even{
    background: #ffffff;
}
